{
	"env": {
		"browser": true,
		"es6": true
	},
	"extends": ["airbnb", "plugin:react-hooks/recommended", "plugin:prettier/recommended"],
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"plugins": ["prettier", "react", "react-hooks", "sort-destructure-keys"],
	"rules": {
		"consistent-return": "warn",
		"implicit-arrow-linebreak": 0,
		"import/no-extraneous-dependencies": ["error", {
			"devDependencies": true,
			"optionalDependencies": false,
			"peerDependencies": false
		}],
		"import/prefer-default-export": 0,
		"newline-per-chained-call": 0,
		"no-alert": "error",
		"no-console": 0,
		"no-debugger": "error",
		"no-nested-ternary": 0,
		"no-param-reassign": [0, {}],
		"no-restricted-globals": 0,
		"no-restricted-syntax": 0,
		"no-return-assign": 0,
		"no-shadow": "off",
		"no-tabs": "off",
		"no-underscore-dangle": [0, {
			"allow": ["foo_", "_bar"],
			"allowAfterSuper": true,
			"allowAfterThis": true
		}],
		"no-unused-expressions": ["error", {
			"allowTernary": true
		}],
		"no-use-before-define": "error",
		"object-shorthand": 0,
		"prefer-destructuring": ["error", {
			"array": false,
			"object": false
		}],
		"prefer-template": 2,
		"react/forbid-prop-types": 0,
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn",
		"react/jsx-closing-tag-location": 0,
		"react/jsx-filename-extension": ["error", {
			"extensions": [".js"]
		}],
		"react/jsx-first-prop-new-line": [2, "multiline"],
		"react/jsx-indent": ["error", 2],
		"react/jsx-indent-props": ["error", 2],
		"react/jsx-key": "error",
		"react/jsx-no-target-blank": 0,
		"react/jsx-sort-default-props": ["error", {
			"ignoreCase": false
		}],
		"react/jsx-uses-react": 1,
		"react/jsx-uses-vars": 1,
		"react/jsx-curly-newline": 0,
		"react/no-did-mount-set-state": "error",
		"react/no-direct-mutation-state": "error",
		"react/no-unused-prop-types": 1,
		"react/no-unused-state": 0,
		"react/require-default-props": 0,
		"react/require-extension": 0,
		"react/self-closing-comp": 0,
		"react/sort-comp": 0,
		"require-yield": 0,
		"sort-destructure-keys/sort-destructure-keys": ["error", {
			"caseSensitive": true
		}],
		"spaced-comment": ["error", "always", {
			"exceptions": ["-", "+"]
		}]
	},
	"settings": {
		"import/resolver": {
			"babel-module": {
				"alias": {
					"~": "./src"
				}
			}
		}
	}
}
